.container {
  height: 100%;
  width: 83%;
}

.user-profile {
  /* height: 100%; */
  width: 100%;
}

.user-info {
  /* background-color: #000; */
  /* color: #fff; */
  width: 90%;
  border: 2px solid red;
  margin: 5vh auto;
  display: flex;
}

/* .profile-pic {
  float: left;
} */

.pic {
  height: 5rem;
  width: 100%;
  border: 1px solid black;
  margin-top: 6%;
  margin-left: 6%;
}

.user-details {
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.user-detail {
  margin-top: 1em;
  margin-bottom: 1em;
}

.lower {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

.items {
  margin: 5%;
  /* border: 2px solid green; */
  width: 45%;
  /* height: 3%; */
  overflow: auto;
  background-color: rgba(161, 54, 54, 0.1);
}

/* .sale-items {
  align-items: center;
  margin: 5%;
} */

.title-head {
  font-size: large;
  text-align: center;
}

.item-list{
  padding: 2%;
}

.item {
  transition: background-color 0.15s;
  padding: 2%;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(161, 54, 54, 0.1);
}
